.jumbotron{

background-color: #FF862D;

}
.boton-modal{

	margin: 10px 0px 10px 50px;
}
.titulo{
	color: orange;

}
.pie{

color: black;	
}
footer{
padding: 10px 10px 0 10px;
background-color: orange;
margin-bottom: 0px;
margin-top: 10px;
}

.card-hotel{

flex: 1 200px;

margin-top: 10px;
}
.icono-reserva{
	padding-right: 10px;
}

.btn-reserva
{

	width: 100%;
	border-radius: 0px;
	
}

.footter-address-icon{
padding-right: 10px;

}
.tab-content{

	padding-top: 10px;
}