@orange: #dbd218;

.margeneslr(@top,@botton){
  margin-top: @top;
margin-bottom: @botton;

}
.margenes(@top,@rigth,@botton,@left){
  margin-top: @top;
margin-bottom: @botton;

}

.jumbotron {
  background-color:@orange; }

.boton-modal {
  margin: 10px 0px 10px 50px; 

  }

.titulo {
  color: @orange; }

.pie {
  color: black; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: @orange;
  .margeneslr(10px,0px)
 }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.icono-reserva {
  padding-right: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footter-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
