$yellow: #e6e617;
$red: #b30920;
$green: #27b81f;

@mixin margenestb($top,$botton){
margin-top: $top;
margin-bottom: $botton;
}

@mixin margenes($top,$rigth,$botton,$left){
margin: $top $rigth $botton $left;
}
@mixin padin($top,$rigth,$botton,$left){
padding: $top $rigth $botton $left;
}

.jumbotron{

background-color: $yellow;

}
.boton-modal{


	@include margenes(10px,0px,10px,50px);
}
.titulo{
	color: $red;

}
.pie{

color: black;	
}
footer{

@include padin(10px,10px,0px,10px);
background-color: $green;
@include margenestb(10px,0px);

}

.card-hotel{

flex: 1 200px;
@include margenestb(10px,0px);

}
.icono-reserva{
	padding-right: 10px;
}

.btn-reserva
{

	width: 100%;
	border-radius: 0px;
	
}

.footter-address-icon{
padding-right: 10px;

}
.tab-content{

	padding-top: 10px;
}
